<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="text-center">
        <form (ngSubmit)="submit()">
            <div class="mb-3">
                <label class="form-label">
                    agregar nueva tarea
                </label>
                <input 
                [(ngModel)]="nuevaTarea" 
                name="nuevaTarea"
                type="text" 
                class="form-control"  >
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>